<form action="explore" method="GET" class="chat">
  <textarea name="p"><% if (locals.prompt) { %><%= prompt %><% } %></textarea>
  <button type="submit">Explore multidimensional risk data</button>
</form>