<form action="search" method="GET" class="search">
  <input type="text" name="p" <% if (locals.query) { %>value="<%= query %>"<% } %>>
  <button type="submit">Search for multidimensional risk data</button>
</form>