<!DOCTYPE html>
<html>
<head>
  <title>Risk DWH Search</title>
  <script type="module" src="/js/pages/explore.mjs"></script>
  <link rel="stylesheet" type="text/css" href="/css/loader.css" />
  <link rel="stylesheet" type="text/css" href="/css/arrows.css" />
  <link rel="stylesheet" type="text/css" href="/css/main_light.css" />
</head>

<body>
  <%- include("./partials/head.ejs", { ctr: locals.ctr, prompt: locals.prompt, type: locals.type }) %>
  <main>
    <!-- Placeholders -->
    <!-- <section class="news placeholder">
      <p class="placeholder"></p>
      <p class="placeholder"></p>
      <p class="placeholder"></p>
    </section> -->
    <% for (let i=0; i<2; i++) { %>
      <section class="risk-type placeholder">
        <h2 class="placeholder"></h2>
        <% for (let j=0; j<3; j++) { %>
          <div class="risk placeholder">
            <h3 class="placeholder"></h3>
            <p class="placeholder"></p>
          </div>
        <% } %>
      </section>
    <% } %>
  </main>
</body>

</html>