<!DOCTYPE html>
<html>
<head>
  <title>Risk DWH Search</title>
  <link rel="stylesheet" type="text/css" href="/css/loader.css" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
  <%- include("./partials/head.ejs") %>
  <main>
  </main>
</body>

</html>